* {
    font-family: c;
}

.home-image {
    width: 99%;
    height: 760px;
    margin: -20px 10px;
    margin-bottom: -360px;
    display: flex;
}

.logo {
    margin-left: 310px;
    height: 70px;
    border-radius: 30px;
    padding: 0;
    width: 295px;
    top: 10px;
    left: -250px;
    display: inline-flex;
    margin-top: 20px;
    position: absolute;
}

.header {
    position: relative;
}

nav {
    margin: auto;
    justify-content: center;
    display: flex;
    position: relative;
}

ul {
    display: inline-flex;
    flex-flow: row wrap;
    top: 84px;
    position: relative;
    margin-left: -120px;
    margin-top: -30px;
}

.nav {
    display: flex;
    margin-top: -20px;
}

li {
    padding-left: 70px;
    list-style-type: none;
    color: #FBFCFF;
    font-size: 30px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    position: relative;
    color: #FBFCFF;
    top:-190px;
    font-size: 70px;
    text-align: center;
}

.button1 {
    width: 200px;
    height: 50px;
    background-color: #FBFCFF;
    color: #E1A93C;
    font-size: 20px;
    border-radius: 10px;
    border: #FBFCFF;
    position: relative;
    left: 42%;
    top: -210px;
}

@media (max-width: 768px) {
    
    
    nav {
        text-align: center;
        top:170px;
        right: 5%;
    }
    .home-image{
        height: 950px;
        width: 99%;
    }
    ul {
        margin-left: 0; /* Adjust margin for smaller screens */
        top: 0; /* Adjust top position for smaller screens */
    justify-content: center;

margin: auto;
}

    li {
        padding-left: 20px; /* Adjust padding for smaller screens */
        font-size: 27px; /* Adjust font size for smaller screens */

    
    }

    h1 {
        font-size: 37px; /* Adjust font size for smaller screens */
        margin-top: 10px;
        left: 1%;
    }

    .button1 {
        width: 120px; /* Adjust button width for smaller screens */
        height: 40px; /* Adjust button height for smaller screens */
        font-size: 15px; /* Adjust font size for smaller screens */
        left: 40%; /* Adjust left position for smaller screens */
        top: 560px; /* Adjust top position for smaller screens */

    }
    .logo{
      
        margin-left: 81%;
        height: 80px;
        border-radius: 30px;
        padding: 0;
        width: 225px;
        top: 30px;
        left: -250px;
        display: inline-flex;
        margin-top: 20px;
        position: absolute;
        }
}
@media (min-width: 768px) and (max-width: 1260px) {
.logo{
    height: 80px;
    margin-left: 260px;
}
.flex{
    margin-left: 72px;
}
}
@media (min-width: 769px) and (max-width: 1137px) {
    .logo{
        height: 80px;
        margin-left: 220px;
        width: 180px;
    }
    .flex{
        margin-left: 72px;
    }
    
}
@media (min-width: 250px) and (max-width: 767px) {
    .logo{
        height: 80px;
        margin-left: 360px;
        width: 170px;
    }
    .flex{
        margin-left:-15px;
    }
    h1{
        top: -90px;
        font-size: 30px;
    }
    .button1{
        top:-90px;
        margin-left:-20px;
    }li{

font-size: 24px;
}
.home-image{
    width: 94.5%;
    height: 725px;
}
    
}


